<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Guillermina Andrea Domínguez</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercademi">Acerca de mí</h1>
            <p id="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex qui temporibus dolor et ea, magni quasi eius placeat obcaecati pariatur, nisi voluptatum similique tenetur doloribus numquam est deserunt illo ut!</p>
        </span>
    </div>
</div>
