<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
    <div class="container col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#C9717D'"
            [innerStrokeColor]="'#ffffff'"
            [title]="'HTML'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'40px'"
            [subtitle]="'90%'"
            [subtitleFontSize]="'28px'"
            [subtitleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="300">
            [lazy]="true"
        </circle-progress>
    </div>
</div>
