.row {
    background-color: #CDA4A9;
   
}

footer{
    color: #F8F5F5;
    font-size:14px;
    margin-top: 5%;
}

p {
   margin-left: 2%;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   text-align: center;
}