<div class="row">
    <h2>PROYECTO REALIZADOS</h2>
    <div class="container">
        <div class="col-sm-12 col-md-4 col-lg-4 texto">
            <h3>Página web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eligendi laudantium officia doloribus perspiciatis nostrum accusamus quia quam consectetur excepturi illo vero exercitationem dolore, nihil totam suscipit, delectus quod doloremque.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 imagen">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/pagweb1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/pagweb3.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/pagweb4.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-md-4 col-lg-4 texto">
            <h3>Portfolio web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eligendi laudantium officia doloribus perspiciatis nostrum accusamus quia quam consectetur excepturi illo vero exercitationem dolore, nihil totam suscipit, delectus quod doloremque.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 offset-md-1 offset-lg-1 imagen">
             <img src="../../../assets/portfolio.png" class="img-fluid" alt="...">
            
        </div>
    </div>
</div>
