<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li><h3>Trabajo 1</h3> - <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis corrupti amet molestias minima molestiae dolorum fugit quisquam? Vero quae sed, atque veniam quisquam, facilis eaque molestiae dolores dolore, hic esse.</p>
        </ul>
        <ul>
            <li><h3>Trabajo 2</h3> - <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis corrupti amet molestias minima molestiae dolorum fugit quisquam? Vero quae sed, atque veniam quisquam, facilis eaque molestiae dolores dolore, hic esse.</p>
        </ul>
        <ul>
            <li><h3>Trabajo 3</h3> - <h4>(years)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis corrupti amet molestias minima molestiae dolorum fugit quisquam? Vero quae sed, atque veniam quisquam, facilis eaque molestiae dolores dolore, hic esse.</p>
        </ul>
    </div>
</div>
