<div class="row">
    <div class="container">
        <div class="logoAP">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="">
        </div>
        <div class="redessociales">
            <div class="redessoceingreso">
            <a href=""><img src="../../../assets/Logo_linkedin.png" id="logolinkeding" a lt=""></a>
            <a href=""><img src="../../../assets/Logo_instagram.png" id="logoinstagram" alt=""></a>
            <a href=""><img src="../../../assets/Logo_facebook.png" id="logofacebook" alt=""></a>
            <a href=""><img src="../../../assets/github.png" id="logogithub" alt=""></a>
            <button class="boton">INGRESAR</button>
            </div>            
            
        </div>
    </div>    
</div>



