.gradient-custom {
    /* fallback for old browsers */
    background: #f7566a;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(241, 134, 147, 1), rgba(244, 185, 192, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(241, 134, 147, 1), rgba(244, 185, 192, 1))
}